[submodule "dependencies/cpptypeinfo"]
	path = dependencies/cpptypeinfo
	url = https://github.com/ousttrue/cpptypeinfo.git
[submodule "dependencies/sukonbu"]
	path = dependencies/sukonbu
	url = https://github.com/ousttrue/sukonbu.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/regenerator"]
	path = dependencies/regenerator
	url = git@github.com:ousttrue/regenerator.git
